/*
body {
    font-family: 'Roboto', sans-serif;
}

.post-box pre{
    font-family: 'Roboto', sans-serif;
}
*/
.info-container{
    display:grid;
    background-color: #222222;
    margin: 20px 20px 50px 20px;
    border-radius: 15px;
}
.info-item{
    width:1000px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
}
@media (max-width:950px) {
    .info-item{
        margin: 20 20 20 20;
        grid-template-columns: repeat(1, 1fr);
        grid-row:span 1;
        width:100%;
    }
}

.info-image{
    -webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
    border-radius: 10px;

    width:300px;
    height:300px;
    background-repeat: no-repeat;

    grid-row:span 4;
}
.info-image:hover {
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;

}
.info-title {
    transition: all 0.5s;
    text-decoration-line:none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:26px;

    color:#eeeeee;
    margin:5px;
}
.info-title:hover {
    color:#aaaaaa;
 }
.info-desc {
    font-family: 'Roboto', sans-serif;
    color:#dddddd;

    font-size:18px;
    margin:5px;
}
.info-tech {
    color:#bbbbbb;
    font-size:17px;
    font-weight:600;
    margin:5px;
}
.info-link {
    transition: all 0.5s;
    width:50px;
    height:50px;
    background-repeat: no-repeat;
    margin-left:5px;
}
.info-link:hover {
    width:50px;
    height:50px;
    background-repeat: no-repeat;
    margin-left:5px;
}
.info-class {
    text-align:center;
    color: white;
    font-weight:600;
    font-size: 40px;
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 40px;
    margin-right: 100px;
    border: 5px solid white;
    border-radius: 9px;
}

/* INFO_CONTENTS ↓*/
.info-contents {
    width:800px;
    margin:auto;
    margin-top:50px;
    margin-bottom:50px;
    color:white;
}

.info-contents-title {
    font-size:40px;
    font-weight:600;
}