/*
body {
    font-family: 'Roboto', sans-serif;
}

.post-box pre{
    font-family: 'Roboto', sans-serif;
}
*/
.info-container{
    display:grid;
    background-color: #222222;
    margin: 20px 20px 50px 20px;
    border-radius: 15px;
}
.info-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin:70px 20px 70px 20px;
}
.info-image{
    margin:auto;
    border-radius: 10px;

    width:300px;
    height:300px;
    background-repeat: no-repeat;

    grid-row:span 4;
}
.info-title {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:26px;

    color:#eeeeee;
    margin:5px;
}
.info-desc {
    font-family: 'Roboto', sans-serif;
    color:#dddddd;

    font-size:18px;
    margin:5px;
}
.info-tech {
    color:#bbbbbb;
    font-size:17px;
    font-weight:600;
    margin:5px;
}
.info-link {
    transition: all 0.5s;
    width:50px;
    height:50px;
    background-repeat: no-repeat;
    margin-left:5px;
}
.info-link:hover {
    width:50px;
    height:50px;
    background-repeat: no-repeat;
    margin-left:5px;
}
.info-class {
    color: white;
    font-weight:600;
    font-size: 40px;
    margin-left: 30px;
}