.rspeed-container {
    background-color: #222222;
    margin: 20px 20px 50px 20px;
    border-radius: 15px;
    width:97%;
    height:700px;
    margin-bottom:100px;
}

.rspeed-container p {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
}

.rspeed-start-button {
    width:15%;
    background-color:#555555;
    margin:auto;
    margin-top:200px;
    font-family: "Prompt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
    color:#dddddd;
    border-radius:15px;
    padding: 50px;
    text-align:center;
    cursor:pointer;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.rspeed-start-button:hover {
    background-color:#444444;
}