.rspeed-container {
    background-color: #222222;
    margin: 20px 20px 50px 20px;
    border-radius: 15px;
    width:97%;
    height:700px;
    margin-bottom:100px;
}

.rspeed-container p {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-family: "Nanum Brush Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:40px;
}

.rspeed-start-button {
    width:15%;
    background-color:#555555;
    margin:auto;
    margin-top:200px;
    font-family: "Prompt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:30px;
    color:#dddddd;
    border-radius:15px;
    padding: 50px;
    text-align:center;
    cursor:pointer;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.rspeed-start-button:hover {
    background-color:#444444;
}

.reaction-submit-alert {
    text-align:center;
    color: white;
    margin-top:20px;
    font-size:22px;
}

.reaction-submit-box {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width:200px;
    margin:auto;
    margin-top:20px;
}

.reaction-submit-input{
    width:100px;
    height:30px;
    background-color:#999999;
    border-radius:10px;
}
.reaction-submit-button{
    background-color:#555555;
    width:70px;
    text-align:center;
    color:white;
    border-radius:5px;
    padding:5px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor:pointer;
}
.reaction-submit-button:hover {
    background-color:#777777;
}