.gallery-container {
    background-color: #222222;
    margin: 20px 20px 20px 20px;
    padding: 15px;
    border-radius: 15px;
    height: 100%;
    margin-bottom:100px;
}

.gallery-box {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    height:100%;

}
.gallery-item {
    background-color:#999999;
    margin-top:5%;
    margin-left:10%;
    margin-bottom:5%;
    width:80%;
    height:0;
    padding-bottom: 95%;
    border-radius:5px;
    background-size: cover;
    background-repeat: no-repeat;
}
.clicked-img-box {
    z-index:2000;
    background-color:rgba(0, 0, 0, 0.7);
    position:absolute;
    width:65%;
    padding-bottom: 49%;
    top:83%;
    left:50%;
    transform: translate(-50%, -83%);
    border-radius:10px;
}

.clicked-img {
    width:75%;
    padding-bottom: 70%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius:10px;
    position:absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

.exit-button {
    float:right;
    top:5%;
    left:95%;
    transform: translate(-50%, -50%);
    border-radius:10px;
    position:absolute;
    width:6%;
    height:8%;
    background-image: url('../img/Gallery/exit_button.png');
    background-size: cover;
    background-repeat: no-repeat;
    cursor:pointer;
}

.gallery-item:hover {
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor:pointer;
}