.gallery-container {
    background:rgba(59, 59, 59, 0.2);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.6),
    4px 4px 5px 0px rgba(0,0,0,.6);
    width:80%;
    margin: 0 auto;
    padding: 15px;
    border-radius: 15px;
    height: 100%;
    margin-top:100px;
}
.top-title {
    color: white;
    font-size:40px;
    font-weight: 600;
    margin-top:80px;
    margin-left:9%;
    margin-bottom:20px;
    margin-top:150px;
    padding:0px;
}
.gallery-box {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    height:100%;
}
.gallery-item {
    background-color:#999999;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.6),
    4px 4px 5px 0px rgba(0,0,0,.6);
    margin-top:5%;
    margin-left:10%;
    margin-bottom:5%;
    width:80%;
    height:0;
    padding-bottom: 95%;
    border-radius:5px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
.clicked-img-box {
    opacity:0;
    z-index:-1;
    background-color:rgba(0, 0, 0, 0.7);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.6),
    4px 4px 5px 0px rgba(0,0,0,.6);
    position:fixed;
    width:800px;
    height:700px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius:10px;
    transition: all 0.5s;
}

.clicked-img {
    width: 75%;
    padding-bottom: 70%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius:10px;
    position:absolute;
    background-repeat: no-repeat;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.6),
    4px 4px 5px 0px rgba(0,0,0,.6);
}

.exit-button {
    background-image: url('../img/Gallery/exit_button.png');
    float:right;
    top:5%;
    left:95%;
    transform: translate(-50%, -50%);
    border-radius:10px;
    position:absolute;
    width:7%;
    height:8%;
    background-size: cover;
    background-repeat: no-repeat;
    cursor:pointer;
}

.gallery-item:hover {
	-webkit-transform: scale(1.07);
	transform: scale(1.07);
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor:pointer;
}

.gallery-page-button {
    display:flex;
    justify-content: center;
}

.gallery-left-button{
    width:50px;
    height:50px;
    background:rgba(133, 133, 133, 0.2);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.3),
    4px 4px 5px 0px rgba(0,0,0,.3);
    border-radius:100px;
    margin-bottom:10px;
    margin-right:10px;
    text-align: center;
    line-height:45px;
    color:white;
    border-radius: 30px;
    font-weight:700;
    font-size:28px;
    transition: all 0.4s;
}
.gallery-right-button{
    width:50px;
    height:50px;
    background:rgba(133, 133, 133, 0.2);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.3),
    4px 4px 5px 0px rgba(0,0,0,.3);
    border-radius:30px;
    margin-bottom:10px;
    margin-left:10px;
    text-align: center;
    line-height:45px;
    color:white;
    border-radius: 30px;
    font-weight:700;
    font-size:28px;
    transition: all 0.4s;
}

.gallery-left-button:hover{
    cursor: pointer;
    background-color:rgba(52, 52, 52, 0.1);
}
.gallery-right-button:hover{
    cursor: pointer;
    background-color:rgba(52, 52, 52, 0.1);
}
.gallery-page {
    color:rgba(212, 212, 212, 0.945);
    font-weight:500;
    margin-top:8px;
    font-size : 25px;
}