.nav-bar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.nav-bar li {
    flex: 1;
    text-align: center;
    background-color:silver;
    font-size: 25px;
    height: 45px;
    cursor: pointer;
    line-height: 45px;
    transition: all 0.5s;
}
.nav-bar li:hover {
    background-color: dimgray;
}
.nav-bar li:hover a {
    color: white;
}

.nav-bar li:hover .active {
    color: white;
}
.nav-bar li a{
    text-decoration: none;
    font-family: 'Jua', sans-serif;
    color: black;
}

.active {
    text-decoration: none;
    color: black;
    padding: 6px;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
}

@media screen and (max-width: 700px){
    .nav-bar li {
        font-size: 18px;
    }
}