/*
.nav-bar {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.nav-bar li {
    flex: 1;
    text-align: center;
    background-color:silver;
    font-size: 25px;
    height: 45px;
    cursor: pointer;
    line-height: 45px;
    transition: all 0.5s;
}
.nav-bar li:hover {
    background-color: dimgray;
}
.nav-bar li:hover a {
    color: white;
}

.nav-bar li:hover .active {
    color: white;
}
.nav-bar li a{
    text-decoration: none;
    font-family: 'Jua', sans-serif;
    color: black;
}

.active {
    text-decoration: none;
    color: black;
    padding: 6px;
    border-width: 0px 0px 3px 0px;
    border-style: solid;
}

@media screen and (max-width: 700px){
    .nav-bar li {
        font-size: 18px;
    }
}
*/
/* 위에는 이전 코드 */

#test-nav, #test-nav ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#test-nav {
    font-family: "Roboto Condensed", serif;
    display:flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    clear: both;
    font-size: 12px;
    height: 58px;
    padding: 0 0 0 0;
    position: relative;
    width:100%;
    z-index: 9999;
}
#test-nav li {
    position: relative;
    width:100%;
    background-color: #121212;
    transition:all 0.5s;
}
#test-nav li:hover {
    background:rgba(19, 19, 19, 1.0);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.3),
    4px 4px 5px 5px rgba(0,0,0,.3);
    border-radius: 10px 10px 0px 0px;
}
#test-nav li:hover > a {
    color: #FFFFFF;
}

#test-nav li a {
    font-family: sans-serif;
    top:25%;
    text-align: center;
    color: #121212;
    font-size: 20px;
    display: block;
    font-weight: bold;
    position: relative;
    text-decoration: none;
     
    transition:all 0.5s;
}

#test-nav ul {
    left: 0px;
    top: 58px;

    width: 100%;
    background:rgba(51, 51, 51, 0.9);
    box-shadow:inset 2px 2px 2px 0px rgba(252, 252, 252, 0.5),
    7px 7px 20px 0px rgba(0,0,0,.3),
    4px 4px 5px 5px rgba(0,0,0,.3);
    border-radius: 0px 0px 10px 10px;

    overflow: hidden;
    position: absolute;

    z-index: 2;

    transform: scaleY(0);

    transition: all 0.2s;
}

#test-nav li:hover ul {
    left: 0px;
    top: 58px;

    width: 100%;
 
    transform: scaleY(1);
    transition: all 0.5s;
}

#test-nav ul li {
    background: none;
    width: 100%;
}
#test-nav ul li a {
    float: none;
    font-size: 15px;
    color:#FFFFFF;
    padding: 5px 0 5px 0;
}

.nav-text {
    color:white;
    font-size:20px;
    transition: all 0.5s;
}

@media (max-width:800px){
    .nav-text{
        font-size:16px;
        line-height: 30px;
    }
}
/*
#tesst {
    height: 16px;
    left: 13px;
    position: absolute;
    top: 0px;
    width: 64px;
 
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
#tesst:hover {
    -moz-transition-duration: 3000s;
    -ms-transition-duration: 3000s;
    -o-transition-duration: 3000s;
    -webkit-transition-duration: 3000s;
    transition-duration: 3000s;
}
#test-nav li:nth-child(1):hover ~ #tesst {
    left: 13px;
}
#test-nav li:nth-child(2):hover ~ #tesst {
    left: 90px;
}
#test-nav li:nth-child(3):hover ~ #tesst {
    left: 170px;
}
*/

